:root{

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --fuenteTerciaria: 'Montserrat', sans-serif;
    --primario: #16161a;
    --secundario: #2cb67d;
    --claro: #fffffe;
    --oscuro:#5b5b5b;
    --negro: #010101;
    --parrafos: #94a1b2;
    --naranja: #f1a94e;
    --azulito: #44b3c2;
    --boton: #7f5af0;
    --error: #b80000;
    --sass: #D35A96;
    --js: #EFD81D;
    --php: #858EBB;
    --gulp: #E54748;
    --react: #5ED3F3;
    
    
}
html{
    box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  
}
body{
    font-family: var(--fuenteSecundaria);
    background-color: var(--negro);

}

.contenedor{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
hr{
    border: 2px solid var(--secundario);
    color: var(--secundario);
    width: 80%;
    margin: auto;
    
}

h1{
    font-size: 2.8rem;
    color: var(--secundario);
}
h2{
    font-size: 2.6rem;
    color: var(--secundario);
}
h3{
    font-size: 2.4rem;
    color: var(--secundario);
}
a{
    text-decoration: none;
  color: var(--oscuro);
}
span{
    color: var(--secundario);
    font-weight: bold;
    
}
.sass-color{
    color: var(--sass);
}
.react-color{
    color: var(--react);
}
.js-color{
    color: var(--js);
}
.php-color{
    color: var(--php);
}
.gulp-color {
    color: var(--gulp);
}
.ola{
    display: none;
    
}
/* IDIOMAS
.flags_wrapper{
    position: fixed;
    top: 25px;
    right: 5px;
    width: max-content;
    padding: 0 1rem;
    z-index: 5;
   
    
}
.flag span{
    cursor: pointer;
}
.flag img{
    width: 35px;
    cursor: pointer;
}

.flag.active{
    display: flex;
    align-items: center;
    gap: .5rem;
}
@media (max-width: 920px) { 
    .flags_wrapper{
        z-index: 11 ;
        top: 95%;
        left: 0;
      
    }
}
@media (max-width: 710px) { 
    .flags_wrapper{
        z-index: 11 ;
        display: none;
    }
}
 */


/* Captchat */
.campo:last-of-type{
    justify-content: center;
}



.vacio{
    display: none !important;
}
.fab{
    font-size: 3rem;
}
.fas{
    color: var(--secundario);
    font-size: 3rem;
    margin-top: 1rem;
    
}
.far{
    color: var(--secundario);
    font-size: 3rem;
    margin-top: 1rem;
}

.fa-envelope{  
    font-size: 2rem;
    cursor: pointer;
    color: var(--boton);  
}

.fa-arrow-alt-circle-up{
    display: none;
}
.fa-question{
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: .4rem;
    padding: 0;
    opacity: 0.8;
    display: none;
    
}

/*En pruebas header */

header{
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    
}

@media (min-width: 768px) { 
    
    .fa-arrow-alt-circle-up{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1rem 2rem;
        color: var(--secundario);
        z-index: 99999;
    }
    .fa-envelope{
        padding-left: 2rem;
        font-size: 2rem;
        cursor: pointer;
        color: var(--boton);   
    } 
}
@media (min-width: 1000px) { 
    .ola{
        width: 100%;
        position: absolute;
        bottom: -20px;
        display: block;
    }
}

.hero{
    background-image: url(../img/lapiz_bueno4.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    transition: all 2s ease-in-out;
    background-position-x: -640px;
    
}
@media (orientation: landscape) and (max-width: 700px) { 
    .hero{
        background-position-y: -45px;
        background-position-x: -540px;
    }
    
    #barra_nav a{
        color: var(--parrafos);
    }
    .contenedor .contenido a{
        padding: .2rem 0;
    }
}
.hero .contenedor{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-content: center;
}
.hero .contenido{
    
    color: var(--oscuro);
    margin-top: 3rem;
     
}

.titulo{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    max-width: 70%;
    color: var(--secundario);
    
}
.subtitulo{
    font-size: 1.5rem;
    max-width: 60%;
    color: var(--parrafos);
    
}
/* ANIMATION BOX SHADOW*/
#barra_nav{
    margin-top: 0 ;
    
    
}
/*La clase boxi solo aparecerá cuando se scrolee la web */
.boxi{
    animation: boxi 15s ease-in-out 0s infinite alternate; 
}
.boxi2{
    animation: boxi2 10s ease-in-out 0s infinite alternate-reverse;

}
.boxi3{
    animation: boxi3 5s ease-in-out 0s infinite alternate-reverse;
}
@keyframes boxi {
    from{
        box-shadow: 0 5px 10px var(--secundario);
    }
    30%{
        box-shadow: 0 5px 10px var(--azulito);
    }
    60%{
        box-shadow: 0 5px 10px var(--boton);
    }
    to{
        box-shadow: 0 5px 10px var(--secundario);
    }

}
@keyframes boxi2 {
    from{
        box-shadow: 0px -40px 70px var(--secundario);
    }
    30%{
        box-shadow: 0px -40px 70px var(--azulito);
    }
    60%{
        box-shadow: 0px -40px 70px var(--boton);
    }
    to{
        box-shadow: 0px -40px 70px var(--secundario);
    }

}
@keyframes boxi3 {
    from{
        box-shadow: 0px 0px 10px var(--secundario);
    }
    30%{
        box-shadow: 0px 0px 10px var(--azulito);
    }
    60%{
        box-shadow: 0px 0px 10px var(--boton);
    }
    to{
        box-shadow: 0px 0px 10px var(--secundario);
    }
}

.contenido a{
    display: block;
    font-size: 1.2rem;
    padding: .8rem;
    font-family: var(--fuentePrincipal);
    color: var(--parrafos);
    width: max-content;
    border-radius: 20px;
    font-weight: 400;
    transition: .2s ease;
   
}
/* Sobreescribiendo bootstrap */
a:not([href]):not([class]), a:not([href]):not([class]):hover{
    color: var(--parrafos);
}
/*Este media query es para evitar el hover en dispositivos
móviles y tablets, haciendo que no se quede fijado al clickar
el estado del botón en hover. */
@media (min-width: 900px) { 
    .contenido a:hover{
        cursor: pointer;
        color: var(--secundario) !important;
        background-color: var(--primario);
        padding: .8rem !important;
        transform: rotate(-2deg);
        font-weight: bold !important;
    }
    
}
@media (min-width: 768px) {
    
    .titulo{
        font-size: 3rem;
    }
    .subtitulo{
        font-size: 2rem;
    }
    .hero{
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        transition: all 1s ease-in-out;
        background-position:bottom;  
    }
    .hero .contenido{
        margin-top: 10rem;
        padding: 0;
    }
    .contenido a{
        font-size: 1.6rem;
        padding: .8rem;
    }
    #barra_nav{
        margin-top: 2rem;
        
    }
}
/* Media query para ajustar el menú nav del hero en portátiles */
@media (max-height: 770px) and (min-width: 1200px) { 
    .hero .contenido{
        margin-top: 6rem;
    }
}

/*Apartado de servicios */
p{
    line-height:2rem;
    font-family: var(--fuentePrincipal);
}
.servicios{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 6rem;
    background-color: var(--claro);
    margin-top: -14rem;
    border-radius: 40px;
    box-shadow: 0 0 30px -10px var(--oscuro);
}
.servicios h2{
    padding-bottom: 1rem;
    color: var(--negro);
}
.servicio p{
    font-size: 1.4rem;
    padding: .6rem;
    
    color: var(--oscuro);
    margin-top: 2rem;

}
.servicio p:last-child{
    padding-bottom: 2rem;
}

@media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 1.5rem;
        box-shadow: none;
        
        
    }
    .servicio p{
        width: 90%;
        margin: 1.7rem auto;
    }
    

    
}
.servicio h2::after{
    height: .5rem;
    width: 7rem;
    background-color: var(--oscuro);
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
    
   
   


}
/* .servicios .servicio{
    margin-bottom: 2rem;
    
} */
/*Sobre mí */
.sobre-mi{
    background-color: var(--primario);


}
.titulo-sobremi{
    margin: 0;
    padding: 8rem 0 4rem 0;
    font-size: 3rem;
    color:var(--claro);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fuentePrincipal);
    
}
.sobre-mi-info p{
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
    color: var(--parrafos);
    padding: 1rem;
    padding-bottom: 20rem;
    text-align: center;
    line-height: 2.4rem;
}
@media (min-width: 768px) { 
    .sobre-mi-info p{
        font-size: 1.5rem;
        line-height: 2.9rem;
        width: 60%;
        margin: 0 auto;
        color: var(--parrafos);
        text-align: center;
     
    }  
}
@media (min-width: 768px) and (max-width: 1100px) { 
    .sobre-mi-info p{
        width: 80%;
    }  
}
/* Portafolio*/

.elemento{
    border-bottom: 1px solid var(--oscuro);
    margin-bottom: 3rem;
    
}
.portafolio{
    
    background-color: var(--primario);
    padding-bottom: 4rem;
}

.cards_wrapper{
   width: 90%;
   margin: 0 auto;
}
.title-portafolio{
    text-align: center;
    color: var(--claro);
    margin-top: 6rem;
    padding: 2rem;
    font-family: var(--fuentePrincipal);
}
/* .listado{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

.tarjeta{
    
    margin-bottom: 4rem;
    border-radius: 40px;
    background-color: var(--negro);
    transition: .6s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    margin: 0 auto;
}
@media (max-width: 500px) { 
    .tarjeta{
        width: 100%;
    }
}
.tarjeta:hover{
    transform: scale(1.05);
}
.tarjeta img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-top-left-radius:40px ;
    border-top-right-radius: 40px;
    display: block;
   
}


.tarjeta .info{
    text-align: center;
    color:var(--parrafos);
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tarjeta .info p{
    padding: 0 1rem;
    
}
.espacios{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3rem;
    
}
.espacios .fas{
    margin-top: 2.5rem;
    padding: 0 1rem;
    font-size: 4rem;
    transition: .5s ease-in;
}
.espacios .fas:hover{
    transform: rotate(360deg);
}
.owl-prev, .owl-next{
    margin-right: 0;
    display: flex;
    background-color: rgba(1, 1, 1, .8);
    box-shadow: 0 0 5px var(--secundario);
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in;
    border-radius: 5px;
}

i{
    color: var(--secundario);
    font-size: 20px;
}
i:hover{
    color: var(--boton);
}
.owl-next:hover, .owl-prev:hover{
    background-color: var(--primario);
    border-color: var(--boton);
    
}
.owl-next:hover i, .owl-prev:hover i{
    color: var(--boton);
}

.owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -8px;
}
.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -9px;
}
.owl-stage-outer{
    padding: 1rem 0;
}
.owl-dots{
            
    display: inline-flex;
    position: absolute;
    left: 20px;
}
.owl-dot{
    width: 40px;
    height: 7px;
    background-color: var(--secundario);
    opacity: .5;
    margin-right: 8px;
}
.owl-dots .active{
    opacity: 1;
}
@media (min-width:768px){
   
    .portafolio{
        width: 75%;
        margin: 0 auto 2rem;
        border-radius: 20px;
        padding:0 5rem 4rem 5rem;
        
    }
    .cards_wrapper{
        width: 100%;
        
    }
    .tarjeta{
        width: 380px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
   
    .cards_wrapper:hover .owl-next{
        right: -55px;
    }
    .cards_wrapper:hover .owl-prev{
        left: -63px;
    }
    .owl-prev, .owl-next{
        width: 67px;
        height: 67px;
    }
    .owl-prev i, .owl-next i{
        font-size: 46px;
    }
    .owl-dots{
        left: 46.5%;
        bottom: -20px;
    }


    .espacios{
        display: none;
    }
    
}
/*Sección Formulario (contacto) */
.contacto{
    
    color: var(--claro);
    font-family: var(--fuentePrincipal);
    padding: 2rem 0;
    background-color: var(--primario);
    margin-top: 6rem;
    position: relative;
    
    
    
}
.contacto img{
    display: none;
}
.widget{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.widget h3{

    
    color: var(--claro);
    padding: 2rem .5rem 2rem .5rem;
    
    width: 100%;
    margin-top: -1.5rem;
    text-align: center;

}
.campo{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;

}

.campo input{
    padding: 1rem;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: 0 0 5px var(--secundario);  
    outline: none;
    color: var(--parrafos);
    -webkit-box-shadow: 0 0 5px var(--secundario);
    
}
.campo .mensajito{
    resize: none;
    padding: 2rem;
    border: none;

    border-radius: 20px;
    width: 100%;
    padding: 1.5rem;
    outline: none;
    background-color: transparent;
    color: var(--parrafos);
    -webkit-appearance: none;
    box-shadow: 0 0 5px var(--secundario);  
    transition: .5s ease-in-out; 
    height: 7rem;
    -webkit-box-shadow: 0 0 5px var(--secundario);
    
}
.boton{
    border: none;
    padding: 1rem 2rem;
    background-color: transparent;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s ease-in-out;
}
.boton:hover{
    color: var(--claro);
    background-color: var(--boton);
    font-weight: bold;
    padding: 1rem 0.7rem;
    transform: rotate(-2deg);
    
}


.campo input:focus{
    box-shadow: 0px 0px 30px var(--boton);   
}
.campo input.campoError:focus{
    box-shadow: 0px 0px 30px var(--error);
}
.campo .mensajito.campoError:focus{
    box-shadow: 0px 0px 30px var(--error);
}

/*Clase para los textos con errores descriptivos del formulario */

.errorText{
    color: var(--error);
    line-height: 0;
    padding: 1.5rem;
    margin-top: -1.5rem;
    margin-bottom: 0;
    text-shadow: 0 0 5px var(--negro);
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    
    
    

}

.campo input::placeholder{
    color: var(--parrafos);
}
.campo .mensajito::placeholder{
    color: var(--parrafos);
}
.campo input:focus::placeholder{
   
    transform: scale(.85) translateY(-1.4rem) translateX(-1.8rem);
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    
}
.campo .mensajito:focus::placeholder{
   
    transform: scale(.85) translateY(-1.4rem) translateX(-3rem);
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    
}
.campo .mensajito:focus{
    box-shadow: 0px 0px 30px var(--boton);   

}

@media (min-width: 1500px){

    .contacto img{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 8rem;
        bottom: 20rem;
        transform: rotate(-10deg);
        filter: drop-shadow(0 0 50px var(--secundario));
        cursor: pointer;
        transition: .5s ease-in-out;
        display: block;
    }
    .contacto img:hover{
        filter: drop-shadow(0 0 50px var(--boton)) !important;
    }
    
}
@media (min-width:768px){
    .contacto{
        margin-top: 6rem;
    }
    .widget h3{
        width: 100%;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    .campo .mensajito{
        width: 100%;
        padding: 1.5rem;
        outline: none;
        background-color: transparent;
        color: var(--parrafos);
        box-shadow: 0px 0px 5px var(--secundario);  
        transition: .5s ease-in-out; 
    }
    .campo{
        width: 50%;
    }
    .campo input{

      width: 100%;
      outline: none;
      padding: 1.5rem;
      background-color: transparent;
      box-shadow: 0px 0px 5px var(--secundario);   
      font-size: 1.1rem;
      color: var(--parrafos);
      transition: .5s ease-in-out; 
      
      
    }
    .campo input:focus::placeholder{
   
    transform: scale(.85) translateY(-1.7rem) translateX(-4rem);
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    

    }
    .campo .mensajito:focus::placeholder{
    
        transform: scale(.85) translateY(-1.8rem) translateX(-4rem);
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
        
    }
    

    
}
/* Footer */

footer{
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}
.contenedor_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--parrafos);
    width: 100%;
    padding: .5rem;
    height: 8rem;
    

}
.redes{
    display: flex;
    
    width: 100%;
    justify-content: center;
   
}

.redes .fab{
    padding:1rem;
}
.contenedor_footer .fab{
    color: var(--parrafos);
}
.contenedor_footer .botonCV{
    border: none;
   
    margin-top: 2rem;
    padding: 2rem .5rem;
    background-color: transparent;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    transition: .3s ease-in-out;
    color: var(--parrafos);
    margin-top: 0;
}
.contenedor_footer p{
    margin: 0;
    padding: 1rem;
}

@media (min-width: 1100px) { 
    
    .contenedor_footer{
        padding: 2rem;
        flex-direction: row;
        justify-content: center;
        width: 60%;
        
        
       
        
        
    }
    .redes{
        width: 25%;
        margin-bottom: 0;
        
    }
    .contenedor_footer p{
        margin: 0;
       
    }
    .contenedor_footer .botonCV:hover{
        color: var(--claro);
        background-color: var(--boton);
        transform: rotate(-2deg);
    }
    
}


.cards_wrapper .card {
    width: 360px;
    height: 544px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border: none;
    background-color: transparent;
   
}
@media (max-width: 500px) { 
    .cards_wrapper .card{
        width: 300px;
    }
}

.cards_wrapper .card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: var(--negro);
    transition: all .5s ease;
    z-index: 100;
    
  }

.cards_wrapper .card:hover .content-wrapper {
    bottom: 75%;
  }

.cards_wrapper .card:hover .content-wrapper-hover {
    opacity: 1;
  }

.cards_wrapper .card:hover::after {
    opacity: .9;
  }

.cards_wrapper .card .picture-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
  }

.cards_wrapper .card .picture-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #000000 100%);
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    height: 100%;
  }

.cards_wrapper .card .picture-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.cards_wrapper .card .content-wrapper {
    position: absolute;
    color: white;
    bottom: 2rem;
    left: 40px;
    transition: bottom .3s ease-in;
  }

.cards_wrapper .card .content-wrapper h4 {
    font-size: 30px;
    letter-spacing: 1.5px;
    font-family: var(--fuentePrincipal);
    position: relative;
    z-index: 999;
    text-shadow: 2px 2px 10px var(--primario);
    
  }

.cards_wrapper .card .content-wrapper-hover {
    position: relative;
    left: 40px;
    height: 100%;
    z-index: 102;
    opacity: 0;
    transition: opacity .5s ease-in;
  }

.cards_wrapper .card .content-wrapper-hover .content-text-hover {
    margin: 0;
    width: 287px;
    position: absolute;
    top: 30%;
  
  }

.cards_wrapper .card .content-wrapper-hover .content-text-hover p {
    font-size: 18px;
    font-family: var(--fuentePrincipal);
    line-height: 30px;
    text-align: left;
    color: white;
    font-weight: 400;
  }

.cards_wrapper .card .content-wrapper-hover .content-btn-hover {
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    left: -15px;
    width: 100%;
    
}
.cards_wrapper .card .content-wrapper-hover .content-btn-hover i{
    margin-left: .5rem;
}

.cards_wrapper .card .content-wrapper-hover .content-btn-hover a:hover {
    background-color: var(--primario);
    border: 1px solid #00BCD0;
  }

.cards_wrapper .card .content-wrapper-hover .content-btn-hover a:hover {
    color: #00BCD0;
    
  }

.cards_wrapper .card .content-wrapper-hover .content-btn-hover a:hover i {
    color: #00BCD0;
  }

.cards_wrapper .card .content-wrapper-hover .content-btn-hover a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.32px;
    line-height: 27px;
    font-family:var(--fuentePrincipal);
    font-weight: 400;
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.cards_wrapper .card .content-wrapper-hover .content-btn-hover i {
    color: white;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
}
@media (max-width: 500px) { 
    .cards_wrapper .card .content-wrapper-hover .content-btn-hover {

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: max-content;
    
    }
    .cards_wrapper .card .content-wrapper-hover .content-btn-hover a {
        width: 100%
    }
    .cards_wrapper .card .content-wrapper-hover .content-text-hover p{
        width: 80%;
    }
}
/* pruebas */

#barra_nav.activoo{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    background-color: rgba(1, 1, 1, .97);
    z-index: 4;
    transition: .5s ease-in-out;
    padding: .5rem;
    box-shadow: 0 5px 10px var(--secundario);
    margin: 0;
}









