:root{
    --fuentePrincipal: 'Gothic A1', sans-serif;
    --fuenteSecundaria: 'Oswald', sans-serif;
    --primario: #f1a94e;
    --secundario: #44b3c2;
    --claro: #ffffff;
    --oscuro:#5b5b5b;
}
html{
    box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body{
    font-family: var(--fuenteSecundaria);
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.contenedor{
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 2.6rem;
}
h3{
    font-size: 2.4rem;
}
a{
  text-decoration: none;
  color: black;  
}
.fab{
    font-size: 3rem;
}
.fas{
    color: var(--secundario);
    font-size: 3rem;

}

.hero{
    background-image: url(../img/foto1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    transition: all 1s ease-in-out;
    background-position-x: -640px;
    background-position-y: -400px;
    
    
    
   
}
.hero:hover{
    filter: grayscale(80%);
}

.hero .contenedor{
    display: grid;
    height: 60vh;
    align-content: center;
}
.hero .contenido{
    
    color: black;
    

}

.titulo{
    margin: 0;
    text-shadow:0 0 10px var(--oscuro);
    font-size: 2rem;
    max-width: 60%;

}
.subtitulo{
    font-size: 1.5rem;
    max-width: 60%;

}
@media (min-width: 768px) {

    .titulo{
        margin: 0;
        font-size: 3rem;
        

    }
    .subtitulo{
        font-size: 2rem;
    }
    .hero{
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        transition: all 1s ease-in-out;
        background-position:bottom;
        
       
        
        
    }
    
    
}
/*Apartado de servicios */
p{
    line-height:2rem;
    font-family: var(--fuentePrincipal);
}
.servicios{
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 6rem;
    background-color: var(--claro);
    margin-top: -14rem;
    border-radius: 40px;
    box-shadow: 0 0 30px -10px var(--oscuro);
}
.servicios h2{
    padding-bottom: 1rem;
    color: var(--oscuro);
}
.servicio p{
    font-size: 1.4rem;
    padding: .6rem;
    color: var(--oscuro);
}
.servicio p:last-child{
    padding-bottom: 2rem;
}

@media (min-width:768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 1.5rem;
        box-shadow: none;
        
    }
    .servicio p:last-child{
        padding-bottom: 0;
    }


    
}
.servicio h2::after{
    height: .5rem;
    width: 7rem;
    background-color: var(--primario);
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
    
   
   


}
/*Sobre mí */
.sobre-mi{
    background-color: var(--primario);
    
   
    

}
.titulo-sobremi{
    margin: 0;
    padding: 8rem 0 4rem 0;
    font-size: 3rem;
    color:var(--oscuro);
    text-transform: uppercase;
    text-align: center;
    
}
.sobre-mi-info p{
    font-size: 1.7rem;
    width: 100%;
    margin: 0 auto;
    color: var(--oscuro);
    padding: 1rem;
    padding-bottom: 20rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .sobre-mi-info p{
        font-size: 2rem;
        line-height: 2.9rem;
        width: 60%;
        margin: 0 auto;
        color: var(--oscuro);
        text-align: center;
    }
    
}
/* Portafolio*/
.elemento{
    border-bottom: 1px solid var(--oscuro);
    margin-bottom: 3rem;
    
}
.portafolio{
    
    background-color: var(--primario);
    

}
.title-portafolio{
    text-align: center;
    color: var(--oscuro);
    margin-top: 6rem;
    padding: 4rem;
}
.listado{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    box-shadow: 0 0 30px -10px var(--oscuro);
    margin-bottom: 4rem;
    border-radius: 40px;
    background-color: var(--claro);
    transition: .6s ease-in-out;
    
    
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-top-left-radius:40px ;
    border-top-right-radius: 40px;
    display: block;
   
}


.card .info{
    text-align: center;
    color:var(--oscuro);
    
}
.card .info p{
    padding: 0 1rem;
    
}

@media (min-width:768px){
    .listado{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        grid-auto-rows: max-content; 
        /*max content hace que cada row se adapte
        al tamaño que tenga por default */
    }
    .portafolio{
        clip-path: circle(72.9% at 50% 100%);
        clip-path: circle(55.7% at 50% 67%);
       
    }
    
}
/*Footer */
.footer{
    background-image: url("../img/foto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--claro);
    font-family: var(--fuentePrincipal);
    padding: 2rem 0;
    
}
.widget h3{
    width: 20%;
    color: var(--claro);
    margin-top: 0;
}
.campo:first-of-type{
    margin-top: 6rem;
}
.campo{
    display: flex;
    width: 100%;

}
.campo input{
    padding: .5rem;
    margin-bottom: 1rem;
    flex: 1;
    border: none;
    

}
.campo label{
    flex-basis: 8rem;
    align-self: center;
    font-weight: bold;
}
.boton{
    border: none;
    display: block;
    margin-top: 2rem;
    padding: .6rem 2rem;
    background-color: var(--primario);
    color: var(--oscuro);
    text-transform: uppercase;
    font-weight: bold;
}


@media (min-width:768px){
    
    .footer{
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -250px;
    }
    .campo{
        width: 40%;
    }
    .campo:first-of-type{
        margin-top: 0;
    }
    .widget h3{
        width: 100%;
    }
}

